.header{
    padding: 21px 0;
}
.navbar__logo{
    margin-right: 80px;
}
.navbar__list li{
margin-right: 33px;
}
.navbar__list li a{
    color: black;
}
.profile__sign__btn{
    margin-right: 55px;
    font-size: 16px;
}



























